.content{
    .list-block{
        text-align:center;
            span.icon{
                font-size: 130px;
                color:#ccc;
                
            }
            p{
                a{
                     font-size: .85rem;
                    width:12rem;
                    line-height: 2.3rem;
                    height: 2.3rem;
                    margin: 0 auto;
                }
            }
    }
}